ul.history-list,
ul.history-list li {
    list-style: none;
    padding: 0;
}

.history-list {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

ul.history-list li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

ul.history-list li:last-child {
    border: 0px;
    padding-bottom: 0;
}

ul.history-list li:before {
    content: "";
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

ul.history-list li.main:before {
    border: 1px solid #e84a3c;
    box-shadow: 3px 3px 0px #c5655c;
    box-shadow: 3px 3px 0px #c5655c;
}

.history-time {
    color: #2a2839;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

@media screen and (min-width: 601px) {
    .history-time {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .history-time {
        margin-bottom: 0.3rem;
        font-size: 0.85rem;
    }
}

ul.history-list li p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.2rem;
}

@media screen and (max-width: 600px) {
    ul.history-list li p {
        font-size: 0.4rem;
    }
}

